@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');

body {
  margin: 0px;
  font-family: 'Mingzat', sans-serif;
  font-size: 14pt;
}
header{
    padding: 5px;
    background: #858DE8;
    color: whitesmoke;
    position: sticky;
}
.navbar{overflow: auto;}
.navbar-brand{text-align: left;}
.brand-name{
    font-size: 20pt; 
    color: #858DE8;
    background: whitesmoke;
    padding: 4px;
    border-radius: 12px;
}
.navbar-search{
    overflow: auto;
}
.navbar-search input{
  width: 40%;
  min-width: 150px;
  margin-right: 0px;
}
.navbar-search button{
  padding: 3px;
  margin-left: 0px;
}